body{
    margin: 0;
}
#header-logo {
    background-color: #212425;
    height: 50px;
}
#logo-text{
    width: 85%;
    float: left;
}
#text-logo{
    margin-top: 7px;
    margin-left: 2%;
    font-size: 20px;
    color: white;
    font-family: Arial;
}
#button-buy{
    background-color:#0074c2;
    width: 15%;
    float: left;
}
#text-btn-buy {
    text-align: center;
    color: white;
    font-family:VnTimeH;
}
#header-menu{
    background-color: #17191a;
    height: 40px;
    float: left;
    width: 100%;
}
#ul-header-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.li-header-menu {
    float: left;
}
.a-header-menu{
    display: block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 12px;
}

#screenultimate {
    background-color: black;
    width: 1680px;
    height: 620px;
    margin-top: -40px;
}
#contend1-1 {
    text-align: center;
    color: White;
    font-size: 35px;
    padding-top: 124px;
}
#contend1-2 {
    text-align: center;
    color: White;
    padding-top: 60px;
    font-size: 23px;

}
#contend1-3 {
    text-align: center;
    color: White;
    font-size: 51px;
}
#contend1-4 {
    text-align: center;
    color: White;
}
.text-on-image1 {
    position: relative;
    text-align: center;
    color: white;
}
.container {
    background-color: white;
    padding-bottom: 1000px;
    background-image: url(sun.jp2);
}